.single-slider{
    background-image: url('/public/img/register/road.jpg');
    background-position: bottom;
    min-height: 460px;
}
.hero-cap{
    margin-left: 150px;
}
.boxed-btn {
    background: #fff;
    color: #f15f22 !important;
    display: inline-block;
    padding: 18px 44px;
    font-family: "Teko", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border: 0;
    border: 1px solid #f15f22;
    letter-spacing: 3px;
    text-align: center;
    color: #f15f22;
    text-transform: uppercase;
    cursor: pointer;
}
